<!-- allProducts.ejs -->

<!DOCTYPE html>
<html>
<head>
    <%- include('./layout/head.ejs') %>
    <title>All Products</title>
</head>
<body>
  <%- include('./layout/header.ejs') %>
  <% if (products.length === 0) { %>
    <!-- Display Products -->
    <ul class="product-list">
      <% products.forEach(product => { %>
        <li class="product-list-item"><%= product.name %> - <%= product.price %></li>
        <!-- Display other product details as needed -->
      <% }); %>
    </ul>
  <% } else { %>
    <p class="no-products">No products found.</p>
  <% } %>

  <!-- Pagination -->
  <div>
    <% if (totalPages > 1) { %>
      <ul class="pagination">
        <% for (let i = 1; i <= totalPages; i++) { %>
          <li <% if (i === currentPage) { %>class="active"<% } %>>
            <a href="/products?page=<%= i %>"><%= i %></a>
          </li>
        <% } %>
      </ul>
    <% } %>
  </div>
  <%- include('./layout/footer.ejs') %>
  <%- include('./layout/scripts.ejs') %>
</body>
</html>
